@model IEnumerable<Project_Portal.Models.PresentationModel>

@{
    Layout = "~/Views/Shared/Staff_Layout.cshtml";
}

@{
    ViewData["Title"] = "StaffViewPresentation";
}

<h1>Presentation Schedule</h1>

<h4>
    <a asp-action="StaffCreatePresent">Create New</a>
</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.creator)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.creator)
            </td>
            <td>
                    @Html.ActionLink("Edit", "EditPresentation", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new {  primarykey = item.Id }) |
            </td>
        </tr>
}
    </tbody>
</table>
