@model IEnumerable<Project_Portal.Models.GeneralUserModel>

@{
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

@{
    ViewData["Title"] = "ViewAccounts";
}

<h1>AccountDetails</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Affliation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User_Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Affliation)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.User_Type)
            </td>
            <td>
                    @Html.ActionLink("Edit", "EditAccountDetails", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
